
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <div class="row">
      <div class="row">
        <div class="col">
          <%= f.input :full_name %>
        </div>
        <div class="col">
          <%= f.input :cell %>
        </div>
        <div class="col">
          <%= f.input :email, disabled: :true %>
        </div>
      </div>

        <div class="col"> 
          <%= f.input :address %>
        </div>
        <div class="col">
          <%= f.input :account_number %>
        </div>
        <div class="col">
          <%= f.input :routing_number %>
        </div>
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
