<div id="<%= dom_id client %>">
  <h1>
    <%= client.name %>
  </h1>

  <p>
    <strong>Created By:</strong>
    <%= client.user.email %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= client.contact %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Default rate:</strong>
    <%= client.default_rate %>
  </p>

</div>
