<h1>Timesheet: <%= timesheet.slug %></h1>

<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <%= timesheet.user.name %>
    </div>
    <div class="col-sm">
      <strong>Submitted:</strong>
      <%= timesheet.submitted %>
    </div>
    <div class="col-sm">
      <strong>Paid:</strong>
      <%= timesheet.paid %>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-sm">
      <strong>Submitted date:</strong>
      <%= timesheet.submitted_date %>
    </div>
    <div class="col-sm">
      <strong>Hours:</strong>
      <%= timesheet.total_hours %>
    </div>
    <div class="col-sm">
      <strong>Sum:</strong>
      <%= timesheet.timesheet_sum %>
    </div>
  </div>
</div>
