<%= render @account %>

<%= column_chart @account.balances.group_by_day(:created_at).sum(:amount) %>

<table class="table table-striped" id="balances">
  <thead>
    <tr>
      <th>Date</th>
      <th>Balance</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @account.balances.order("created_at desc").each do |balance| %>
      <tr class="">
        <td><%= br_date balance.created_at %></td>
        <td><%= link_to balance.amount, balance %></td>
        <td><%= balance.comment %></td>
      </tr>    
    <% end %>
  </tbody>
</table>

<%= link_to "New balance", new_balance_path(account_id: @account.id) %>

<div class="pt-3">
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %>
  <%= button_to "Delete this account", @account, method: :delete %>
</div>
